# HW 4
## Creator: Junjie Lei
## CreationDate: Nov-11-2018
### Title: SQL/SQLite HW4

---

### Q A (5pts) My answer: 
---
My logic: beacsue there does not exists `right join` or `full outer join` in `SQLite` version, so for this question and all the qs I used `left-join` <br>

The first question is just `left join` and select all the cols needed <br>
<br>

- but I did convert the `t.Milseconds` to `float` data type to make the output in minutes more accurate instead of just one integer

```sql

SELECT T.NAME                      AS "Track Name",
       T.composer,
       T.milliseconds * 1. / 60000 AS "length of music",
       A.title                     AS "Album Title",
       AR.NAME                     AS "Artist Name",
       GEN.NAME                    AS "Genre "
FROM   track AS T
       LEFT JOIN album A
              ON A.albumid = T.albumid
       LEFT JOIN genre GEN
              ON T.genreid = GEN.genreid
       LEFT JOIN artist AR
              ON A.artistid = AR.artistid
              
              
```

###  Q B (5pts)  My Answer: 

---
Output a frequency table for how many letters are in an album title and a song title. (i.e. 3 columns: number of letters, number of album titles with that amount of letters, number of song titles with that amount of letters). <br>

My logic: 
I used `subquery` for this question <br> 
- first, within the subquery, I count letters in the songs/Track.Name 
- then, in another subquery, I count letters in the Album.Title
- I join the previous 2 subqueries using the `left join`
- at the end, I display the 3 cols that this question requested;
---
variable name demostration <br>
- `numofchrs` $\rightarrow$  intersection part of the letter count <br>
- `song_name_count` $\rightarrow$ the letter count of the letter in the Track/song.Name <br>
- `album_name_count` $\rightarrow$ the letter count of the album title <br>
since there is no `full outer join` and `right join`, I will just take their intersection part, hence I used `join` instead of `left join`

### Q B.1
--- 
Output a frequency table for how many letters are in an album title and a song title. (i.e. 3 columns: number of letters, number of album titles with that amount of letters, number of song titles with that amount of letters


<br>
<br>

```sql 
SELECT t1.numofchrs,
       t1.song_name_count,
       t2.album_name_count
FROM   (SELECT Length(T.NAME) AS 'NumOfChrs',
               Count(*)       AS song_name_count
        FROM   track T
        GROUP  BY numofchrs
        ORDER  BY 1 DESC) t1
       JOIN (SELECT Length(AL.title) AS 'NumOfChrsAL',
                    Count(*)         AS album_name_count
             FROM   album AL
             GROUP  BY numofchrsal) t2
         ON t1.numofchrs = t2.numofchrsal
ORDER  BY 1 DESC


```

Q B.2 
---

What is the average and range of amount of letters?

<br>
<br>


```sql

SELECT 
max(t2.numofchrs) AS max_amt_letters, 
min(t2.numofchrs) AS min_amt_letters, 
min(t2.numofchrs)|| ' - ' || max(t2.numofchrs)   AS range_,
avg(t2.numofchrs) AS avg_leters
FROM
(
SELECT t1.numofchrs,
       t1.song_name_count,
       t2.album_name_count
FROM   (SELECT Length(T.NAME) AS 'NumOfChrs',
               Count(*)       AS song_name_count
        FROM   track T
        GROUP  BY numofchrs
        ORDER  BY 1 DESC) t1
       JOIN (SELECT Length(AL.title) AS 'NumOfChrsAL',
                    Count(*)         AS album_name_count
             FROM   album AL
             GROUP  BY numofchrsal) t2
         ON t1.numofchrs = t2.numofchrsal
ORDER  BY 1 DESC ) t2

```

### Q C .1 My Anwers:
---
how many songs did each composer write 
<br>
<br>
```sql

SELECT   Count(*) AS 'Num of songs' ,
         composer
FROM     track
WHERE    composer notnull
GROUP BY composer
ORDER BY "Num of songs" DESC


```

### Q C .2 
--- 
How many artists composed their own music 
<br>
<br>
- becasue sometimes, artists apear to be one of the composers and sometimes, composer appears to belong to one of the artists ; <br>
- so by using the `INSTR` function which count if the artist is in the composer col and vice versa (if the composer in the artist col. And the result is stored in the col `if_contains`.


```sql
SELECT if_contains, 
       Count(if_contains) 
FROM   (SELECT T.composer, 
               Art.NAME, 
               CASE 
                 WHEN ( Instr(T.composer, Art.NAME) >= 1 ) 
                       OR ( Instr(Art.NAME, T.composer) >= 1 )THEN 'wrote' 
                 ELSE 'n_wrote' 
               END AS 'If_contains' 
        FROM   track T 
               LEFT JOIN album Al 
                      ON T.albumid = Al.albumid 
               LEFT JOIN artist Art 
                      ON Al.artistid = Art.artistid) 
GROUP  BY if_contains 

```

### Q C.3 
---
Output all of the Artists who had songs that were longer than 2.5 minutes and they did not write their own songs.
<br>
<br>

```sql 
SELECT Count(*)
FROM   track T
       LEFT JOIN album Al
              ON T.albumid = Al.albumid
       LEFT JOIN artist Art
              ON Al.artistid = Art.artistid
WHERE  ( ( Instr(T.composer, Art.NAME) < 1 )
          OR Instr(Art.NAME, T.composer) < 1 )
       AND T.milliseconds > 150000




```

### Q D My Answers: 
---
- I use a subquery to find all the `album.ablumID` that does not satisfied the requirement
- then I use a main query to filter out the `albumid` that not in the query list which subquery provided


```sql

SELECT al.albumid
FROM   album al
WHERE  al.albumid NOT IN (SELECT alb.albumid
                          FROM   album alb
                                 LEFT JOIN track t
                                        ON al.albumid = t.albumid
                          WHERE  ( t.milliseconds / 1000 ) % 2 != 0
                                  OR t.mediatypeid != 1)



```


### E.1  My  Answers
---
How large, in terms of Megabytes are each album

```sql
SELECT t.albumid, 
       t.bytes / 1048576           AS MB, 
       Sum(t.bytes * 1. / 1048576) AS MB_size 
FROM   track t 
       LEFT JOIN album al 
              ON t.albumid = al.albumid 
GROUP  BY al.albumid 

```

### E.2 
---
On average, how large, in terms of bytes, is a pop song
<br> 


```sql
SELECT Avg(T.bytes)
FROM   track T
       LEFT JOIN genre Gen
              ON T.genreid = Gen.genreid
WHERE  Gen.NAME LIKE ( 'Pop' )




```

### E.3 
What is the range and average duration of a heavy metal song in minutes?

---

```sql 

SELECT Avg(( T.milliseconds * 1. ) / 60000)                       AS Minute_, 
       ( Max(T.milliseconds) - Min(T.milliseconds) ) * 1. / 60000 AS Rng 
FROM   track T 
       LEFT JOIN genre Gen 
              ON T.genreid = Gen.genreid 
WHERE  Gen.NAME = 'Heavy Metal' 



```

### Q A  My Answer:
---
Output a table that shows the number of customers in each city
<br>
```sql

SELECT Count(*),
       state,
       country
FROM   customer
WHERE  state IS NOT NULL
GROUP  BY city,
          state,
          country

```

### B.1
--- 
 How much in total was spent on music per year? 
 
 
 ```sql
 SELECT Strftime('%Y', i.invoicedate) AS year_index, 
       Sum(i.total) 
FROM   invoice i 
GROUP  BY year_index 

 ```

### B.2
--- 
What is the average amount a person spent on music in a year

```sql
SELECT t1.year_index, 
       t1.total_spending / t1.total_cust AS year_avg_spending 
FROM   (SELECT Strftime('%Y', i.invoicedate) AS year_index, 
               Sum(i.total)                  AS total_spending, 
               Count(DISTINCT customerid)    AS total_cust 
        FROM   invoice i 
        GROUP  BY year_index) t1 
GROUP  BY year_index 
```

### B.3  
---
What is the average amount a person with a gmail account spent on music in a year

```sql
SELECT t1.year_index, 
       t1.total_spending / t1.total_cust AS year_avg_spending 
FROM   (SELECT Strftime('%Y', i.invoicedate) AS year_index, 
               Sum(i.total)                  AS total_spending, 
               Count(DISTINCT i.customerid)  AS total_cust 
        FROM   invoice i 
               LEFT JOIN customer cust 
                      ON cust.customerid = I.customerid 
        WHERE  cust.email LIKE ( '%gmail%' ) 
        GROUP  BY year_index) t1 
GROUP  BY year_index 
```

### C.1 
--- 
What year-month combination had the most spending on music?

```sql
SELECT Strftime('%Y-%m', i.invoicedate) AS year_index, 
       Sum(i.total)                     AS spend_on_music 
FROM   invoice i 
       LEFT JOIN customer cust 
              ON cust.customerid = I.customerid 
GROUP  BY year_index 
ORDER  BY spend_on_music DESC 
```

### C.2
---
Which year-month combi- nation had the most money spent on `pop` music?
```sql
SELECT Strftime('%Y-%m', i.invoicedate) AS year_mth_index, 
       gen.NAME, 
       i.invoiceid, 
       Sum(i.total)                     AS pop_sum 
FROM   invoiceline AS IL 
       LEFT JOIN invoice AS I 
              ON IL.invoiceid = I.invoiceid 
       LEFT JOIN track T 
              ON T.trackid = IL.trackid 
       LEFT JOIN genre Gen 
              ON Gen.genreid = T.genreid 
WHERE  Gen.NAME = 'Pop' 
GROUP  BY year_mth_index 
ORDER  BY pop_sum DESC
    
       
```

### D 
---
What artists has the most songs bought that are in the pop genre?
<br>

```sql


SELECT arts.NAME,
       Count(*)     AS amt_songs,
       Sum(I.total) AS total_spending,
       cust.firstname || ' ' ||   cust.lastname as Cust_Name

FROM   invoiceline AS IL
       LEFT JOIN invoice AS I
              ON IL.invoiceid = I.invoiceid
       LEFT JOIN customer AS cust
              ON cust.customerid = I.customerid
       LEFT JOIN track T
              ON T.trackid = IL.trackid
       LEFT JOIN genre Gen
              ON Gen.genreid = T.albumid
       LEFT JOIN album Al
              ON Al.albumid = T.albumid
       LEFT JOIN artist arts
              ON arts.artistid = AL.artistid
WHERE  Gen.NAME = 'Pop'
GROUP  BY arts.NAME
ORDER BY Total_Spending DESC
```

### E.1
---
<br>
Output how many songs each artist is selling in each country
```sql

SELECT Count(DISTINCT t.trackid) AS counter, 
       t.trackid, 
       arts.NAME, 
       cust.country 
FROM   invoiceline AS IL 
       LEFT JOIN invoice AS I 
              ON IL.invoiceid = I.invoiceid 
       LEFT JOIN customer AS cust 
              ON cust.customerid = I.customerid 
       LEFT JOIN track T 
              ON T.trackid = IL.trackid 
       LEFT JOIN genre Gen 
              ON Gen.genreid = T.albumid 
       LEFT JOIN album Al 
              ON Al.albumid = T.albumid 
       LEFT JOIN artist arts 
              ON arts.artistid = AL.artistid 
GROUP  BY arts.artistid, 
          cust.country  
```

### E.2
---
Who is selling the most outside of the US?
<br>


```sql
SELECT Sum(t1.track_counter) AS sum_tracks, 
       t1.NAME 
FROM   (SELECT Count(DISTINCT t.trackid) AS Track_counter, 
               t.trackid, 
               arts.NAME, 
               cust.country 
        FROM   invoiceline AS IL 
               LEFT JOIN invoice AS I 
                      ON IL.invoiceid = I.invoiceid 
               LEFT JOIN customer AS cust 
                      ON cust.customerid = I.customerid 
               LEFT JOIN track T 
                      ON T.trackid = IL.trackid 
               LEFT JOIN genre Gen 
                      ON Gen.genreid = T.albumid 
               LEFT JOIN album Al 
                      ON Al.albumid = T.albumid 
               LEFT JOIN artist arts 
                      ON arts.artistid = AL.artistid 
        GROUP  BY arts.artistid, 
                  cust.country) t1 
GROUP  BY t1.NAME 
ORDER BY sum_tracks DESC

```

### E.3
---
 On average, how many songs is each artist selling outside of the US


```sql
SELECT Sum(t2.sum_tracks) * 1. / Count(DISTINCT t2.NAME) * 1. 
FROM   (SELECT Sum(t1.track_counter) AS sum_tracks, 
               t1.NAME 
        FROM   (SELECT Count(DISTINCT t.trackid) AS Track_counter, 
                       t.trackid, 
                       arts.NAME, 
                       cust.country 
                FROM   invoiceline AS IL 
                       LEFT JOIN invoice AS I 
                              ON IL.invoiceid = I.invoiceid 
                       LEFT JOIN customer AS cust 
                              ON cust.customerid = I.customerid 
                       LEFT JOIN track T 
                              ON T.trackid = IL.trackid 
                       LEFT JOIN genre Gen 
                              ON Gen.genreid = T.albumid 
                       LEFT JOIN album Al 
                              ON Al.albumid = T.albumid 
                       LEFT JOIN artist arts 
                              ON arts.artistid = AL.artistid 
                GROUP  BY arts.artistid, 
                          cust.country) t1 
        GROUP  BY t1.NAME 
        ORDER  BY sum_tracks DESC) t2 

          

          
```

# 3 Window Function

### A.1
---

<br>
assign row number to different custmers 


```sql
SELECT cust.customerid, 
       Row_number() 
         OVER ( 
           ORDER BY cust.customerid) 
FROM   customer cust 
```


### A.2
---
<br>
reset the row number when both condition is met / filter out cols; 
```sql
SELECT cust.customerid, 
       cust.country, 
       cust.email,
       Row_number() 
         OVER ( 
           partition BY cust.Country 
         ) AS reset_col 
FROM   customer cust
WHERE cust.country NOT IN ('Canada', 'Brazil') AND 
         (cust.email LIKE ('%gmail%') OR cust.email LIKE ('%yahoo%'))
```

### B 
---

```sql
SELECT *
FROM   (SELECT NAME,
               milliseconds,
               albumid,
               Dense_rank()
                 OVER (
                   partition BY albumid
                   ORDER BY milliseconds) lenRank
        FROM   track)
WHERE  lenrank = 2
        OR lenrank = 4

```

# Bonus


1. create my own table
---

- create a $10 \times 5$ table

```sql


DROP TABLE leagueoflegends_champion 

CREATE TABLE leagueoflegends_champion 
  ( 
     cham_id       INTEGER PRIMARY KEY, 
     champion_name TEXT NOT NULL, 
     win_rate      FLOAT NOT NULL, 
     game_played   INTEGER NOT NULL, 
     kda           TEXT NOT NULL 
  ) 

SELECT * 
FROM   leagueoflegends_champion lc 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 1, 
              'ashe', 
              53.53, 
              793098, 
              '  2.63:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 2, 
              'fizz', 
              53.16, 
              260293, 
              '2.54:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 3, 
              'Heimerdinger', 
              52.90, 
              172320, 
              '2.08:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 4, 
              'Blitzcrank', 
              52.89, 
              409014, 
              '  2.55:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 5, 
              'Swain', 
              52.85, 
              238460, 
              '  2.57:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 6, 
              'Taric', 
              52.85, 
              64824, 
              '  2.86:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 7, 
              'Master yi', 
              52.74, 
              402562, 
              '1.97:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 8, 
              'Volibear', 
              52.69, 
              202434, 
              '2.63:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 9, 
              'Shaco', 
              53.69, 
              308076, 
              '2.67:1 ' ); 

INSERT INTO leagueoflegends_champion 
            (cham_id, 
             champion_name, 
             win_rate, 
             game_played, 
             kda) 
VALUES      ( 10, 
              'Kayle', 
              53.60, 
              459424, 
              '  2.11:1 ' ); 

SELECT * 
FROM   leagueoflegends_champion lc 
  

```

2. create or import table need to `dbeaver` 
---
so, 1 of all, I think the link provided is outdated..
- so in the previous `Bonus.1`, I have shown that I can create my own table, in this problem, I will import a CSV table and connect it with `Dbeaver`
- The dataset that I used is provided by [League Of Legends World Fianl](http://oracleselixir.com/match-data/), it recorded data for each game
- see my ECON611_JunjieLei for the `raw dataset` & `cleaned dataset`
<br>
<br>
---
### Description for my data
the data contained `5 cols ` $\times$ ` 1428 rows`
col name: 
- id $\rightarrow$ primary key
- game_id $\rightarrow$ not unique key, int data type
- game  $\rightarrow$ not unique, int data type
- side $\rightarrow$ text datatype not Null
- champion $\rightarrow$ contains null value, text datatype
- game length $\rightarrow$ int data type, contains not null

```sql
DROP TABLE lol_game_stats 

CREATE TABLE lol_game_stats 
  ( 
     id         INTEGER PRIMARY KEY, 
     game_id    INTEGER NOT NULL, 
     game       INTEGER NOT NULL, 
     side       TEXT, 
     champion   TEXT, 
     gamelength FLOAT 
  ) 

SELECT * 
FROM   lol_game_stats lgs 

```

3. perform 3 different calculation using your data in order to tell a story of the dataset

---
- so basically, we can find the most basic descriptive statistics
- mean
- variance
- mode
- range <br>
but they are not that interesting

```sql
SELECT Min(t1.gamelength) 
       || ' - ' 
       || Max(t1.gamelength), 
       Avg(t1.gamelength), 
       Variance(t1.gamelength) AS variance 
FROM   (SELECT lgs.game_id, 
               lgs.gamelength 
        FROM   lol_game_stats lgs 
        GROUP  BY lgs.game_id) t1 


```

- this query finds out the `champion` that show up the most in the world final 
<br>

``` sql 
SELECT t1.champion, 
       Count(*) AS Players_fav 
FROM   (SELECT * 
        FROM   lol_game_stats lgs 
        WHERE  lgs.champion NOT LIKE ( '% %' )) t1 
GROUP  BY t1.champion 
ORDER  BY players_fav 

```

- which is `Kai'Sa` she was locked for 71 games